.navbar-nav.mr-auto>li{
	text-transform: uppercase;
}

.logo>a{
	text-transform: uppercase;
	
}
.navbar-light .navbar-brand:focus, 
.navbar-light .navbar-brand:hover {
    color: #fff;
}
.bg-dark {
    background-color: #011425!important;
}
.navbar-light .navbar-brand {
    color: #fff;
	padding-left: 80px;
	font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
	padding-right: 50px;
	font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #1F85DE;
	
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
	font-weight: bold;
	padding-right: 50px;
}

#banner{
	
    padding-bottom: 50px;
	background: url("../img/Retina_Display.jpg");
    background-size: cover;
    min-height: 200px;
}

.banner-text{
	padding-top: 60px;
}
#banner .banner-text{
    
    margin: auto;
    text-transform: uppercase;
}
.banner-text hr {
    background: #fff;
    border: 0 none;
    display: inline-block;
    height: 2px;
    margin: 20px 0;
    width: 40px;
}

#banner .banner-text h4{
    color: #FFFFFF;
    padding-top: 30px;
}

.banner-text span {
    border: 5px solid #fff;
    font-size: 50px;
    padding: 32px 20px;
    margin: 0 0 35px;
    text-transform: uppercase;
    display: inline-block;
}

#banner .banner-text span{
	color: #fff;
    
}

#banner .banner-text h1{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
	animation-delay: 1.5s;
	padding-top: 20px;
    padding-bottom: 80px;
    margin: 5px;
}

#about-us{
	
    padding-bottom: 50px;
	padding-top: 30px;
	background-color: #030100;
    background-size: cover;
    min-height: 150px;
}
#about-us h3{
	padding-bottom: 20px;
	text-transform: uppercase;
}
#about-us h3,p{
    color: #fff;
	font-family: Lato,sans-serif;
}
#about-us p{
    color: #fff;
	font-family: Lato,sans-serif;
}
#about-us i{
	padding-bottom: 18px;
	color: #DE7A1F;
	font-size: 50px;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}
#about-us i:hover{
	color: #1F59DE;
}

#our-services{
	padding-top: 40px;
	background: url("../img/services.png");
	background-size: cover;
    min-height: 200px;
}

#our-services h5,p{
	color: #000;
}
#our-services p{
	color: #777171;
}
#our-services h3{
	padding-bottom: 50px;
	text-transform: uppercase;
}
#our-services h6{
	color: #000;
	font-weight: 500;
}
#our-services hr {
    background: #000;
    border: 0 none;
    display: inline-block;
    height: 2px;
    margin: 20px 0;
    width: 40px;
}
#our-services i{
	padding-bottom: 18px;
	color: #DE7A1F;
	font-size: 50px;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}
#our-services i:hover{
	color: #1F59DE;
}
.category-block {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #C2BCBC;
  padding: 30px;
  margin: 0 0 30px; }
#get-in-touch h3 {
	padding-bottom: 50px;
    font-size: 24px;
    line-height: 1.5em;
    color: #fff;
    font-family: Georgia,serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}
#get-in-touch span{
	text-transform: uppercase;
}
button {
    width: 270px;
    margin-left: 0px;
    display: inline-block;
    line-height: 49px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(to right,rgba(57,100,208,1) 0,rgba(45,193,201,1) 100%);
    padding: 0 35px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

button {
    outline: 0;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: all .5s;
}
#get-in-touch{
	padding-top: 50px;
	background: url("../img/blockchain.jpeg");
	background-size: cover;
    min-height: 300px;
}
#portfolio h3{
	
	padding-bottom: 40px;
	padding-top: 30px;
	text-transform: uppercase;
}
#portfolio h6{
	
	padding-top: 10px;
}
#our-clients h3{
	padding-bottom: 50px;
	padding-top: 30px;
}
#our-clients{
	background: green;
}
/*.img-fluid{
	max-width: 100%;
	height: 100%;
	display: block;
}*/

/*.owl-theme .owl-nav {
    position: absolute;
    margin: 0;
    top: -140px;
    right: 109px;
    z-index: 1000;
    display: block;
}
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}*/

/*.owl-theme .owl-dots {
    margin-top: 10px;
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    
}*/

.ft-1{
	background: gray;
}
.ft-1 h2{
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
}
.ft-1 h3{
	padding-bottom: 15px;
	padding-top: 10px;
}
.ft-2{
	background: #000;
}

.ft-2 p{
	padding-bottom: 20px;
	padding-top: 15px;
	text-align: center;
	color: #fff;
}
